@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

.footer {
  margin-top: 24px;
}

.container {
  max-width: 500px;
  margin: 24px auto;
  overflow: auto;
  min-height: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  padding: 30px;
  border-radius: 4px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  background:green;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin:16px auto;
  width: 100%;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
  min-height: 48px;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn:hover {
  opacity: 0.8;
}

.btn-block {
  display: block;
  width: 100%;
}

.task {
  background: #f4f4f4;
  padding: 10px 20px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  border-radius: 4px;
  margin-bottom: 8px;
}

.task .list-start{
  display: flex;
  align-items: center;
}

.task.reminder {
  border-left: 5px solid green;
}

.task h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
}

.task .icon-button{
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  opacity: 0;
}

.task .cancel-icon {
  margin: auto;
  color: grey;
  width: 1.5em;
  height: 1.5em;
}

.task .icon-button:hover {
  opacity:1;
}


.add-form {
  margin-bottom: 40px;
}

.form-control {
  margin: 24px 0;
}

.form-control label {
  display: block;
}

.form-control input {
  width: 100%;
  padding: 4px 8px;
  font-size: 16px;
  margin-bottom: 4px;
}

.form-control input[type="text"] {
  height:40px;
  border-radius: 4px;
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.form-control-check label {
  white-space: nowrap;
}

.form-control-check input[type="text"]  {
  flex: 2;
  height: 20px;
}

input[type="checkbox"]  {
  height: 20px;
  width: 20px;
}

input[type="checkbox"]:hover {
  cursor: pointer;
}

.reminder-check input[type="checkbox"] {
  margin-left: 16px;
}

.list-start input[type="checkbox"] {
  margin-right: 16px;
}

.complete{
  opacity: 0.3;
  text-decoration: line-through;
}

.react-datetime-picker {
  display: flex;
}

footer {
  margin-top: 30px;
  text-align: center;
}