@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

.footer {
  margin-top: 1.5rem;
}

.container {
  max-width: 500px;
  margin: 1.5rem auto;
  overflow: auto;
  min-height: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  padding: 1.5rem;
  border-radius: 0.25rem;
  background-color:#ffffff;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.btn {
  display: inline-block;
  background:green;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  margin:0.25rem auto;
  width: 100%;
  border-radius: 0.25rem;
  cursor: pointer;
  text-decoration: none;
  font-size: 1rem;
  font-family: inherit;
  min-height: 3rem;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn:hover {
  opacity: 0.8;
}

.btn-block {
  display: block;
  width: 100%;
}

.tasks {
  margin-top:1rem;
}

.task {
  background: #f4f4f4;
  padding:  0.5rem 1rem;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  border-radius: 0.25rem;
  margin-bottom: 0.5rem;
}

.task:hover {
  background: #fcfcfc;
}

.task .list-start{
  display: flex;
  align-items: center;
}

.task.reminder {
  border-left: 0.25rem solid green;
}

.task h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
}

.action-icons {
  display: flex;
}

.task .icon-button{
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  opacity: 0;
}

.task .action-icon {
  margin: auto;
  color: grey;
  width: 1.5em;
  height: 1.5em;
}

.task .icon-button:hover {
  opacity:1;
}

.form-control {
  margin: 1.5rem 0;
}

.form-control label {
  display: block;
}

.form-control input {
  width: 100%;
  padding: 0.25rem 0.5rem;
  font-size: 1rem;
  margin-bottom: 0.25rem;
}

.form-control input[type="text"] {
  height:40px;
  border-radius: 0.25rem;
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.form-control-check label {
  white-space: nowrap;
}

.form-control-check input[type="text"]  {
  flex: 2;
  height: 20px;
}

input[type="checkbox"]  {
  height: 20px;
  width: 20px;
}

input[type="checkbox"]:hover {
  cursor: pointer;
}

.reminder-check input[type="checkbox"] {
  margin-left: 16px;
}

.list-start input[type="checkbox"] {
  margin-right: 16px;
}

.complete{
  opacity: 0.2;
  text-decoration: line-through;
}

.react-datetime-picker {
  display: flex;
}

footer {
  margin-top: 30px;
  text-align: center;
}